
@keyframes ballMove {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(var(--x), var(--y));
    }
  }
  
  .ball {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.05s linear;
  }
  
  .banner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .banner-content h1 {
    font-size: 2.5rem;
  }
  
  .banner-content p {
    font-size: 1.25rem;
  }
  
  .banner-content a {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
  }
  
  .banner-content a:hover {
    background-color: #e0e0e0;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(221, 144, 44, 0.4) 20%, rgba(0,0,0,1) 80%);
    filter: blur(80px);
    opacity: 0.4;
    animation: scaleAnimation 8s infinite alternate;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: scale(1);
      opacity: 0.4;
    }
    100% {
      transform: scale(1.1);
      opacity: 1;
    }
  }
.banner1{
    color: #ffff;
}
.banner1-heading-offshore{
    font-size:3.2rem;
}
.banner1-content{
    font-size: 16px !important;
    font-weight: 400;
    line-height: 27px;
    font-family: outfit;
    margin-bottom: 40px;
    
}
.learn-more-banner1-btn{
    padding: 15px 40px;
    text-decoration: none;
    background:#C7892B;
    color: #000;
    border-radius:50px;  
    font-family: outfit;
    &:hover{
        border: none;
      
    }
}
.certified-img{
    gap: 1rem;
}
.certified-img IMG {
    
    &:hover{
        cursor: pointer;
        box-shadow: 0.1em 0.2em 0 #b8b8b8;
    }
  }
  
  .text-animation span {
    display: inline-block;
    opacity: 0;
    transform: translateX(-50px);
    animation: textAnim 5s forwards;
  }
  
  .text-animation span:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .text-animation span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .text-animation span:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  /* ... More span selectors if there are more characters */
  @keyframes textAnim {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 0.1;
      transform: translateX(0);
    }
  }

