.section1-client-label{
    border: 1px solid #E9D7FE ;
    background:#F9F5FF ;
    border-radius: 25px ;
    padding: 6px 18px ;
    color: #433978 ;
    font-weight: bold ;
    font-size: 14px;

}
.first-section-heading{
    font-size: 33px;
    line-height: 47px;
    color: #433978;
}
.section1-content{
    font-size: 19px;
    font-weight: 500;
   
}
.first-client-col {
  border: 0.5px solid #ccc; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin: 5px;
  padding: 10px; 
  border-radius: 8px; 
  border-radius: 30%;
  background-color: #fff; 
  transition: transform 0.2s ease, box-shadow 0.2s ease; 
 
}

.first-client-col:hover {
  transform: translateY(-5px) translateX(-5px); /* Slight lift effect on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Darker shadow on hover for more emphasis */
}

.first-client-image {
 height: 50px;
  object-fit: contain;
  max-width: 100px;
  
}
@media screen and (max-width: 1000px) {
  .first-client-image {
    height: 40px;
    object-fit: contain;
    max-width: 70px;
  }
}


  
  
  
  

