.section1-client-label{
    border: 1px solid #E9D7FE ;
    background:#F9F5FF ;
    border-radius: 25px ;
    padding: 6px 18px ;
    color: #433978 ;
    font-weight: bold ;
    font-size: 14px;

}
.first-section-heading{
    font-size: 33px;
    line-height: 47px;
    color: #433978;
}
.section1-content{
    font-size: 19px;
    font-weight: 500;
   
}
.section1-logo-img {
    row-gap: 20px; /* Adjust as needed */
    height: 70px; /* Set fixed height for the row */
    display: flex;
    align-items: center; /* Ensure logos align vertically */
  }
  
  .client-logo {
    max-height: 50px; /* Ensures logos fit inside row */
    object-fit: contain; /* Prevents stretching */
  }
  

