/* TabBar.css */

.tab-container {
    width: 100%;
  }
  
  .tab-bar {
    display: flex;
   
    padding: 10px;
    border-radius: 50px;
    position: relative;
    justify-content: space-around;
  }
  
  .tab-item {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 12px;
    font-weight: 500;
    position: relative;
    
    border-radius: 20px;
  }
  
  .tab-item.active {
    background: #cda45e;
    color: white;
    padding: 12px 12px;
    border-radius: 20px;
    

  }

  
  .content-panel {
    padding: 20px;
    border-radius: 8px;
    
  }
  