.bg{
    background-color: #FFFAFA;
}
h2{
    color: #43387B;
}
.icon{
    width:60px;
}
.custom-button{
    background-color:#E6EEFF;
    color: #002DA2;
    border: none;
    border-radius: 20px;
    padding: 5px 12px;
    transition: all 0.3s ease-in-out;
}